.img_categoria {
    float: left;
    width:  100%;
    height: 8em;
    object-fit: cover;
}

.img_producto{
  object-fit: cover;
}

.custom_carousel{
    width: 100%;
    height: 250px;
    object-fit: cover !important;
  }

body {
    overflow-x: hidden;
  }


.card-signin .card-img-left {
   width: 45%;
   /* Link to your background image using in the property below! */
   background: scroll center url("../../resources/images/super_mario_register.jpg");
   background-size: cover;
}

.card-signin .card-img-producto {
  width: 45%;
  /*background: scroll center url(../../resources/images/super_mario_register.jpg);*/
  background-size: cover;
}

.custom_text_pedido{
  margin-top: 1em;
  font-size: 1.5em;
}

.finaliza_pedido_btn{
  margin-top: 1.7em;
  text-align: right;
}


  